<div>
    <h2 data-translate="goldentown2App.person.home.title">People</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="person.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="goldentown2App.person.home.createLabel">
                        Create new Person
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'goldentown2App.person.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="goldentown2App.person.person">Person</span></th>
                    <th><span data-translate="goldentown2App.person.surname">Surname</span></th>
                    <th><span data-translate="goldentown2App.person.name">Name</span></th>
                    <th><span data-translate="goldentown2App.person.fatherName">Father Name</span></th>
                    <th><span data-translate="goldentown2App.person.MotherName">Mother Name</span></th>
                    <th><span data-translate="goldentown2App.person.gender">Gender</span></th>
                    <th><span data-translate="goldentown2App.person.age">Age</span></th>
                    <th><span data-translate="goldentown2App.person.gene1">Gene 1</span></th>
                    <th><span data-translate="goldentown2App.person.gene2">Gene 2</span></th>
                    <th><span data-translate="goldentown2App.person.gene3">Gene 3</span></th>
                    <th><span data-translate="goldentown2App.person.gene4">Gene 4</span></th>
                    <th><span data-translate="goldentown2App.person.gene5">Gene 5</span></th>
                    <th><span data-translate="goldentown2App.person.gene6">Gene 6</span></th>
                    <th><span data-translate="goldentown2App.person.generation">Generation</span></th>
                    <th><span data-translate="goldentown2App.person.value">Value</span></th>
                    <th><span data-translate="goldentown2App.person.lastValue">Last Value</span></th>
                    <th><span data-translate="goldentown2App.person.birthday">Birthday</span></th>
                    <th><span data-translate="goldentown2App.person.deathday">Deathday</span></th>
                    <th><span data-translate="goldentown2App.person.isDead">Is Dead</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in vm.people track by person.id">
                    <td><a ui-sref="person-detail({id:person.id})">{{person.id}}</a></td>
                    <td>{{person.person}}</td>
                    <td>{{person.surname}}</td>
                    <td>{{person.name}}</td>
                    <td>{{person.fatherName}}</td>
                    <td>{{person.MotherName}}</td>
                    <td>{{person.gender}}</td>
                    <td>{{person.age}}</td>
                    <td>{{person.gene1}}</td>
                    <td>{{person.gene2}}</td>
                    <td>{{person.gene3}}</td>
                    <td>{{person.gene4}}</td>
                    <td>{{person.gene5}}</td>
                    <td>{{person.gene6}}</td>
                    <td>{{person.generation}}</td>
                    <td>{{person.value}}</td>
                    <td>{{person.lastValue}}</td>
                    <td>{{person.birthday | date:'medium'}}</td>
                    <td>{{person.deathday | date:'medium'}}</td>
                    <td>{{person.isDead}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="person-detail({id:person.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person.edit({id:person.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person.delete({id:person.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
