
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonLabel" data-translate="goldentown2App.person.home.createOrEditLabel">Create or edit a Person</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.person.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.person.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.person" for="field_person">Person</label>
            <input type="text" class="form-control" name="person" id="field_person"
                    ng-model="vm.person.person"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                    ng-model="vm.person.surname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.person.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.fatherName" for="field_fatherName">Father Name</label>
            <input type="text" class="form-control" name="fatherName" id="field_fatherName"
                    ng-model="vm.person.fatherName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.person.age"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.generation" for="field_generation">Generation</label>
            <input type="number" class="form-control" name="generation" id="field_generation"
                    ng-model="vm.person.generation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.value" for="field_value">Value</label>
            <input type="number" class="form-control" name="value" id="field_value"
                    ng-model="vm.person.value"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.lastValue" for="field_lastValue">Last Value</label>
            <input type="number" class="form-control" name="lastValue" id="field_lastValue"
                    ng-model="vm.person.lastValue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.birthday" for="field_birthday">Birthday</label>
                <div class="input-group">
                    <input id="field_birthday" type="text" class="form-control" name="birthday" datetime-picker="{{dateformat}}" ng-model="vm.person.birthday" is-open="vm.datePickerOpenStatus.birthday"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthday')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.deathday" for="field_deathday">Deathday</label>
                <div class="input-group">
                    <input id="field_deathday" type="text" class="form-control" name="deathday" datetime-picker="{{dateformat}}" ng-model="vm.person.deathday" is-open="vm.datePickerOpenStatus.deathday"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deathday')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="goldentown2App.person.isDead" for="field_isDead">Is Dead</label>
            <input type="checkbox" class="form-control" name="isDead" id="field_isDead"
                    ng-model="vm.person.isDead"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
